<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div align="center" style="background:#B5C401; color:#ffffff">
        <h3>Luby Software 2021@</h3>
        <h4>for more information acess:</h4>
        <a href="https://www.luby.com.br/">Luby Software</a>
    </div>
</body>
</html>