<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Come Bet Again!!!</title>
</head>
<body>
    <div align="center">
        <h1>Come Bet Again!!!</h1>
        <p>We notice that you dont bet in sometime!!</p>
        <p>We miss you, so come back and bet some more with us</p>
        <a href="https://www.luby.com.br/">Click here to comeback and try again</a>
        @include('partials/footer')
    </div>
</body>
</html>