<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recovery Password</title>
</head>
<body>
    <div align="center">
        <h1>Recovery Password</h1>
        <p>A recovery password solicitation was send to your email ({{ email }})</p>
        <p>To continue with your recovery use this token: {{token}} or:</p>
        <a href="{{ link }}">Click here</a>
        @include('partials/footer')
    </div>
</body>
</html>